.content .btn {
  min-height: 2.5rem;
  padding: 0.5rem;
  background: transparent;
  border: 1px solid darken(#d0d0d0, 25%);
  border-radius: 0.25rem;
  color: #d0d0d0;
  cursor: pointer;
  text-decoration: none;
  user-select: none;

  &[disabled] {
    color: #808080;
    cursor: default;
  }

  &:not([disabled]) {
    &:hover, &:focus {
      background-color: rgba(0, 0, 0, 0.25);
      border-color: #d0d0d0;
    }
  }

  &.primary {
    $submitBgColor: #102010;
    $submitBorderColor: lighten($submitBgColor, 10%);

    background-color: $submitBgColor;
    border-color: $submitBorderColor;

    &[disabled] {
      color: #637d63;
      background-color: #1b2d1b;
      border-color: #344234;
    }

    &:not([disabled]) {
      &:hover, &:focus {
        background-color: lighten($submitBgColor, 3%);
        border-color: lighten($submitBorderColor, 3%);
      }
    }
  }
}

.content .field {
  height: 2.5rem;
  padding: 0.5rem;
  background: #101010;
  border: 1px solid darken(#d0d0d0, 25%);
  border-radius: 0.25rem;
  color: #d0d0d0;

  &:focus {
    border-color: #d0d0d0;
  }
}
