etwin-bar {
  height: 32px;
  background-color: #111317;
  color: #b7b9c6;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .button {
    font-weight: bold;
    color: #d0d0d0;
    margin: 0;
    margin-right: 2rem;
    padding: 0;
    text-decoration: none;
    border: none;
    background: none;
    width: auto;
    height: auto;
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}
