<etwin-small-layout>
  <div class="active_method">
    Register with Eternal-Twin
  </div>
  <label>
    <span>Select your preferred authentication method</span>
  </label>
  <a routerLink="/register/username" class="btn">Pick a username</a>
  <a routerLink="/register/email" class="btn">Use my email address</a>
</etwin-small-layout>
