<etwin-small-layout>
  <form
    method="POST"
    enctype="application/x-www-form-urlencoded"
    action="/actions/register"
  >
    <div>
      Register with Eternal-Twin
    </div>
    <label>
      <span i18n="Email address field label@@email">Email address</span>
      <input type="email" name="email" class="field" />
    </label>
    <input type="submit" class="btn primary" name="email_registration" value="Register (Soon)" />
    <div>
      <a routerLink="/register">Back</a>
    </div>
  </form>
</etwin-small-layout>
