$contentWidth: 960px;
$bgColor: #101010;
$textColor: #d0d0d0;
$bgAccentColor: #6a100e;


$accentColor: #6a100e;
$accentColorLight: #a81e22;
$accentColorDark: #470d0b;

body {
  color: $textColor;
  background-color: $bgColor;
  font-family: sans-serif;
}

header h1 {
  background-color: $bgAccentColor;
  text-align: center;
  margin: 0;
  padding: 0.5em;
  a {
    text-decoration: none;
    color: $textColor;
  }
}

.content, footer {
  margin: 1em auto;
  width: $contentWidth;
  border: 1px solid lighten($bgColor, 20%);
  background-color: lighten($bgColor, 5%);
  padding: 1em;
  a {
    color: $accentColorLight;
  }
}

.error {
  border: 1px solid $accentColor;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: rgba(31, 0, 0);
}


label, input {
  display: block;
}

$spacing: 1rem;

label {
  margin: $spacing 0;
}

input {
  width: 100%;
  height: 2.5em;
  margin-top: 0.3em;
  padding: 0.5em;
}
