<header>
  <h1><a routerLink="/">Eternal-Twin</a></h1>
</header>
<div class="content">
  <ng-content></ng-content>
</div>
<footer>
  <div class="languages">
    <a lang="de-DE" href="/?l=de">Deutsch</a> -
    <a lang="en-US" href="/?l=en">English</a> -
    <a lang="eo" href="/?l=eo">Esperanto</a> -
    <a lang="es-SP" href="/?l=es">Español</a> -
    <a lang="fr-FR" href="/?l=fr">Français</a>
  </div>
</footer>
